{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}
Progress Tracker
{% endblock %}

{% block styles %}
{{super()}}
<link rel="stylesheet" href="{{url_for('.static', filename='board.css')}}">
{% endblock %}

{% block content %}

    <!--NAVBAR-->
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{{ url_for('index') }}">Progress Tracker</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="{{url_for('create_board') }}">Create Board</a></li>
            <li><a href="{{ url_for('view_profile', username=name) }}">{{ name }}'s Profile</a></li>
            <li><a href="{{ url_for('logout') }}">Log Out</a></li>
          </ul>
        </div>
      </div>
    </nav>

    <div class="container-fluid">
      <div class="row">

        <br>

        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-1 main">

          <br>
          
       <form class="form-group" method="POST">
        <h2 class="form-group"><a href="{{url_for('view_board', board_id=board.public_id)}}">{{board.title}}</a><br><br> Edit Board Details</h2>
        {{ form.hidden_tag() }}
        <br>

        {{ wtf.form_field(form.title) }}
        <br>

        {{ wtf.form_field(form.description) }}
        <br>

        {{ wtf.form_field(form.private) }}
        <br>

        <button class="btn btn-lg btn-primary btn-block" type="submit">Submit</button>
      </form>
       
</div>         
        </div>
      </div>
    </div>
{% endblock %}